 
<!-- <nav class="navbar navbar-expand-sm bg-info navbar-dark"> -->
    <nav class="navbar navbar-expand-sm bg-dark text-white">
  <!-- <a class="navbar-brand" href="#"> -->
    <img src="assets/image/logo.png" width="120" height="40">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

 <!-- <div id="navbarCollapse" class="collapse navbar-collapse"> -->
      <div class="container-fluid">
    <ul class="nav navbar nav-pills">
      <li class="active">
        <a class="nav-link" routerLink="home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" >Flights</a>
      </li> 
      <li class="nav-item">
          <a class="nav-link" data-toggle="tab" >About Us</a>
        </li> 
      </ul>
     
    <ul class="nav justify-content-end nav-pills">
        <li class="nav-item">
            <button class="btn" onclick="document.getElementById('id01').style.display='block'"> <a routerLink="register">Signup</a></button>
        </li>       
        <li class="nav-item">
            <button class="btn" onclick="document.getElementById('id01').style.display='block'"><a routerLink="login">Login</a></button>
 
        </li>
       
    </ul>
    
    <!-- <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul> -->
  
  </div>
</nav>
